<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counselor Dashboard | Career Guidance Platform</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/counselor/counselor.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="dashboard-container">
        <aside class="sidebar" id="sidebar">
            {% include 'counselor/coun_sidebar.html' %}
        </aside>
        <main class="main-content">
            <header class="top-bar">
                {% include 'counselor/coun_header.html' %}
            </header>
            <div class="content-wrapper">
                {% block coun_content %}
                {% endblock %}
            </div>
        </main> 
    </div>
</body>
    <!-- <script src="{{url_for('static',filename='js/counselor/counselor.js')}}" ></script> -->
    <script src="{{ url_for('static', filename='js/counselor/counselor.js') }}"></script>

</html>